* {
    /* border: 1px solid limegreen; */
}

/* header styling */

/* jumbotron */

.jumbotron {
    padding-top: 0 !important;
}

.jumbotron h1 {
    margin-top: 5rem;
}

.jumbotron img {
    /* height: 40rem; */
    object-fit: cover;
    box-shadow: 10px 10px 40px 10px #888888;
}

.hero-name {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.photo {
    display: flex;
    justify-content: end;
}

header .jumbo-pad {
    height: 87vh;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* padding-top: 64px; */
    /* border: 1px solid lightgreen; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#welcome-content h1 {
    font-size: 16px;
}

#welcome-content h2 {
    font-size: 80px;
}

#welcome-content h3 {
    font-size: 80px;
}

#welcome-content p {
    padding-top: 0.8rem;
    font-size: 20px;
    max-width: 60%;
}

.hero-photo {
    
}

/* jumbotron end */

/* navbar */

.navbar-nav {
    margin-left: auto;
}

.nav-link:hover {
    text-decoration: underline;
}

/* navbar end */

/* About me section */

#about-section {
    /* border: 1px solid lime; */
    /* height: 100vh; */
    margin-top: 25vh;
    margin-bottom: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#outer-about {
    /* border: 1px solid lime; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#about {
    /* border: 1px solid lime; */
    width: 60%;
    /* margin: 10% 19%; */
    /* margin-left: 19%;
    margin-right: 19%; */

}

.outer-container-about {
    display: flex;
}

#about-text {
    /* width: 45%; */
}

#about-text ul {
    columns: 3;
}

#about-img {
    /* display: flex;
    justify-content: flex-end; */
    /* align-items: flex-end; */
}

#about-img img {
    height: 22rem;
    margin-left: 3rem;
}

/* About me section end */

/* cards */

#work {
    display: flex;
    justify-content: center;
    margin-bottom: 25vh;
    /* border: 1px solid lime; */
}

#inner-work {
    width: 60%;
}

.carousel {
    height: 40rem;
    width: 100%;
}

.carousel-item {
    height: 40rem;
    width: 100%;
}

.carousel-inner {
    /* background-color: #000; */
}

.carousel-img {
    height: 40rem;
    width: 100%;
}



.card {
    margin: 0 1rem 0 1rem;
}

.card a {
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: #888888;
    border: #888888;
}

.card-body {
    text-align: center;
}

/* cards end */

/* skills */

.skill-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.skill-icon {
    height: 4rem;
}

.media {
    margin: 1rem;
}

/* skills end */

/* contact */

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-contact .jumbo-pad {
    margin-top: 25vh;
    margin-bottom: 25vh;
    text-align: center;
    /* display: flex;
    align-items: center; */
}

#contact-content a {
    color: black;
    text-decoration: none;
}

#contact-content ul {
    list-style-type: none;
    list-style-position: inside;
    columns: 3;
    text-align: center;
    margin: 0;
    padding: 0;
}

#contact-content h1 {
    font-size: 16px;
}

#contact-content h2 {
    font-size: 80px;
}

#contact-content h3 {
    font-size: 80px;
}

#contact-content p {
    padding-top: 0.8rem;
    font-size: 20px;
}

/* contact end */

/* footer */

#footer {
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
    border-top: 1px solid lightslategray;
}

.f-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-message h4 {
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}

.f-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-links a {
    margin: 0.5rem 1rem 4rem 1rem;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: #888888;
    border: #888888;
}

/* footer end */

#work a:hover, #footer a:hover {
    box-shadow: 10px 10px 40px 10px #888888;
    /* background-color: #888888;
    border: #888888; */
}

h4 a {
    box-shadow: 0 0 0 0 !important;
    text-decoration: none !important;
}