/* header styling */

/* jumbotron */

.jumbotron {
    padding-top: 0 !important;
}

.jumbotron h1 {
    margin-top: 5rem;
}

.jumbotron img {
    /* height: 40rem; */
    object-fit: cover;
    box-shadow: 10px 10px 40px 10px #888888;
}

.hero-name {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.photo {
    display: flex;
    justify-content: end;
}

.jumbo-pad {
    display: flex;
    align-items: center;
    justify-content: center space-around;
    padding-top: 64px;
}

.hero-photo {
    
}

/* jumbotron end */

/* navbar */
.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}

/* navbar end */

/* cards */

#work {
    display: flex;
    justify-content: center;

}

.card {
    margin: 0 1rem 0 1rem;
}

.card a {
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: #888888;
    border: #888888;
}

/* cards end */

/* skills */

.skill-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.skill-icon {
    height: 4rem;
}

.media {
    margin: 1rem;
}

.js-icon {
    height: 64px;
    width: 64px;
    background-image: url("/images/javascript-icon-B&W.png");
    background-size: contain;
}

.js-icon:hover {
    background-image: url("/images/javascript-icon.png");
}

/* skills end */

/* aboutme / contact */

#aboutme-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* aboutme / contact end */

/* footer */

#footer {
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
    border-top: 1px solid lightslategray;
}

.f-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-message h4 {
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}

.f-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-links a {
    margin: 0.5rem 1rem 4rem 1rem;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: #888888;
    border: #888888;
}

/* footer end */

#work a:hover, #footer a:hover {
    box-shadow: 10px 10px 40px 10px #888888;
    background-color: #888888;
    border: #888888;
}